.form-group {
  width: 325px;
}
#newFormDescription {
  width: 250px;
  height: 150px;
}
.jumbotron {
  text-align: center;
  border-bottom: 4px solid #4f4630;
  color: #a8a8a3;
  background: inherit;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.wrapper {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
.panel-body {
  border: 2px solid #7f673b;
  text-align: center;
  color: black;
  display: block;
}
.panel-heading {
  border: 2px solid #7f673b;
  padding: 2px;
  text-align: center;
  color:black;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('../img/todolist.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #a8a8a3;
}
.btn {
  background: #665f49;
  border: 2px solid #ad9b79;
  color: white;
  margin: 5px;
}
h4{
  text-decoration: underline;
}
.modal-content {
}
textarea {
  height: 150px;
  width: 400px;
}
checkbox {
  font-size: 14pt;
}
